[Unit]
Description=NineToShine .NET API
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/var/www/ninetoshine/current
ExecStart=/usr/bin/dotnet /var/www/ninetoshine/current/NineToShineApi.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-ninetoshine
User=www-data
EnvironmentFile=/etc/ninetoshine/ninetoshine.env
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
